!!! 5
html
    head
        title #{title} - Linked List Funsies
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Linked List Funsies
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p Gettin' down with a linked list, express, jade & stylus